ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    - map: 'C:\Users\i.akbergen\workspace\e-school-test-task'
      to: /home/vagrant/code
sites:
    -
        map: e-school.test
        to: /home/vagrant/code/public
databases:
    - e-school
features:
    -
        mysql: true
    -
        mariadb: false
    -
        ohmyzsh: false
    -
        webdriver: false
name: e-school-test-task
hostname: e-school
